.menu {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0 100px;
}
.menu__title {
  margin: 0 auto 24px;
  max-width: 780px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.menu__subtitle {
  margin: 0 auto 100px;
  max-width: 780px;
  text-align: center;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 30px;
}
.menu__cards {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.card {
  width: 540px;
}
.card__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 32px;
}
.card__list {
  margin: 0;
  padding: 0;
}
.card__list-item {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.card__list-divider {
  border-bottom: 1px solid black;
  flex-grow: 1;
}
